body {
    background-color: #F5F5F5;
    margin: 0;
    width: 100%;
    height: 100vh;
}
main {
    width: 80%;
    margin: auto;
}
header, footer {
    background-color: #4CC1FA;
}
header{
    display:flex;
    align-items: center;
}
.logo {
    height:100px;
    width: auto;
}
.logo-section, .header-menus {
    display: flex;
    list-style-type: none;
    flex: 1 0 auto;
}
.header-menus a{
    padding: 0 25px 0 25px;
    text-decoration: none;
    color: #000000;
}
.header-menus a:hover, footer li:hover{
    background-color: #8dd9ff;
    border-radius: 9px;
    max-width: 40%;
    cursor: pointer;
}
.current{
    background-color: #c7ecff;
    border-radius: 9px;
}
.header-menus{
    margin-right: 20px;
}
header p {
    font-family: New Spirit, serif;
    font-weight: 400;
    font-style:normal;
    font-variant: small-caps;
    font-size: 27px;
}
.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 9px;
    padding: 10px;
    margin-left: 10px;;
}
.search-bar input {
    margin: 0 5px 0 5px;
    width:100%;
    border: none;
    outline: none;
    background-color: #ffffff;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.homepage_containers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1600px;
    margin:0 auto;
    grid-gap: 10px;
}
.banner-boxes {
    margin: 30px auto;
    max-width: 1600px;;
}
.banner-boxes, .visit-us_box-text{
    border: solid 1px #dadada;
    padding: 10px;
    border-radius: 9px;
    display: grid;
    grid-template-rows: repeat(4, 0.1fr);
    background-color: #fff;
}
.banner-boxes p, .banner-boxes h2{
    margin: 10px 0;
}
.banner-boxes img, .visit-us-container img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.banner-boxes .cta{
    float:right;
}
.explore-banner, .explore-banner_inside-banner-box {
    background-color: #3EFAD3;
}
.exhibition-banner {
    background-color: #8797FA;
}
.get-involved-banner{
    background-color: #FA8B64;
}
.visit-us_banner{
    background-color: #FACB32;
}
.explore-banner, .exhibition-banner, .get-involved-banner, .visit-us_banner{
    max-width: 1600px;
    margin:auto;
    padding-left: 10px;
}

h1 {
    font-family: New Spirit, serif;
    font-weight: 400;
    font-style:normal;
    font-variant: small-caps;
    font-size: 48px;

}
h2{
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}

p{
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
}
.p-bold{
    font-weight: bold;
}
h3, header li {
    font-family: mr-eaves-modern, sans-serif;
    font-size: 27px;
    font-variant: small-caps;
}
h4, footer li {
    font-family: mr-eaves-modern, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}
.footer-menus {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    margin-left: 20px;
    margin-top: 100px;
}
.footer-menus li {
    list-style: none;
}
footer h4{
    margin:auto;
}
.cta {
    background-color: #4CC1FA;
    color: #05032c;
    border-width: 0;
    border-radius: 5px;
    font-family: mr-eaves-modern, sans-serif;
    font-size: 20px;
    font-weight:bold;
    text-transform: uppercase;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    max-height: 25px;
    max-width: 150px;
}
.cta:hover{
    background: #8dd9ff;
}
.image_top-of-page, .banner-boxes_special{
    width:100%;
    height: 600px;
    margin: 50px auto;
    object-fit: cover;
}
/* News slider in homepage */
.news-homepage-slide_container {
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    width: 70%;
    height: 0;
    padding-bottom: 45%;
}
.slide-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.slide-image img{
    width: 100%;
    height: 100%;
}
#i1, #i2, #i3{
   display: none;
}
.nav-dots{
    width:100%;
    height: 15px;
    bottom:12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}
.slide-dots{
    top:-5px;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: #6e6e6e;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three{
    z-index: 9;
}
#i1:checked ~ .nav-dots #dot1,
#i2:checked ~ .nav-dots #dot2,
#i3:checked ~ .nav-dots #dot3{
    background: #4CC1FA;
    width: 25px;
    height: 25px;
    transition: 0.5s;
}
.slide-image_text{
    position: relative;
    background-color: #ffffff9f;
    padding: 20px;
    max-width: 40%;
    border-radius: 9px;
    top:-70%;
    left: 50%;
}
.slide-image_text h3{
    font-variant: normal;
}
/*explore page*/
.explore-banner_inside-banner-box{
    width: 100%;
}
.homepage_containers-explore{
    grid-template-columns: repeat(2,1fr);
    margin-top: 30px;
    grid-gap: 30px;
}
/*visit us page*/
.visit-us-container{
    display: flex;
    flex-wrap:wrap;
    max-width: 1600px;
    margin: 0 auto;
    gap: 20px;
}
.prices-box {
    order: 1;
    flex: 1 0 530px;
}
.opening-box{
    order: 3;
    flex: 1 0 530px;
}
.food-drink-box {
    order: 4;
    flex: 1 0 530px;
}
.accessibility-box{
    order: 2;
    flex: 1 0 530px;
}
.location-box{
    order:5;
    flex: 1 0 100%;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
}
.mapouter {
    position: relative;
    text-align: center;
    height: 600px;
    max-width: 1080;
    margin: 30px auto;
}
/*Tabmenu on get-involved.html*/
.tabmenu{
    background-color: #fff;
    max-width: 1000px;
    width: 100%;
    margin: 150px auto;
    border-radius: 9px;
    padding: 10px;
    border: solid 1px #dadada;
    padding: 20px;
}
.tabmenu nav{
    position: relative;
    width:80%;
    align-items: center;
    display: flex;
    align-items: center;
}
.tabmenu nav label{
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 27px;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease;
}
#support:checked ~ nav label.support,
#internship:checked ~ nav label.internship,
#volunteer:checked ~ nav label.volunteer{
    font-weight: bold;
}
input[type="radio"]{
    display: none;
}
.tabmenu nav .slider{
    position: absolute;
    height: 100%;
    width: 33%;
    background: #FA8B64;
    border-radius: 9px;
    z-index: 0;
    left: 0;
    bottom: 0;
    transition: all 0.5s ease;
}
#volunteer:checked ~ nav .slider{
    left:33%;
}
#internship:checked ~ nav .slider{
    left:66%;
}
section .tab-content{
    display:none;
}
#support:checked ~ section .content-support{
    display: block;
}
#volunteer:checked ~ section .content-volunteer{
    display: block;
}
#internship:checked ~ section .content-internship{
    display: block;
}
/*contact scheme*/
.contact-scheme{
    background-color: #ffffff;
    padding: 30px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    border: solid 1px #dadada;
}
.contact-scheme input, .contact-scheme textarea, .contact-scheme select{
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
    max-width: 1000px;
    height: 50px;
    padding: 5px 0 5px 10px;
    align-items: center;
    border: solid 1px #dadada;
}
#message{
    height: 200px;
}
.contact_banner{
    max-width: 1050px;
    border-radius: 9px;
}
.contact-scheme .cta{
    float: right;
}
/*exhibition page with a timeline design*/
.timeline-section {
    max-width: 1600px;
}
.timeline-header{
    font-size: 27px;
    font-weight: 700;
    font-family: mr-eaves-modern, sans-serif;
    font-variant: small-caps;
}
.timeline-items{
    max-width: 1600px;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
.timeline-items::before{
    content:"";
    position: absolute;
    width: 2px;
    height: 60%;
    background-color: #000000;
    left: calc(50% - 1px)
}
.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child {
   margin-bottom: 10px;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
}
.timeline-item:nth-child(odd) .timeline-header{
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 20px;
    width: 20px;
    background-color: #8797FA;
    border-radius: 50%;
    border: solid 3px #000;
    position: absolute;
    left: calc(50% - 13px);

}
.timeline-content {
    background-color: #fff;
    padding: 20px; 
    border-radius: 9px;
    border: solid 1px #000;
}
/*responsive design*/

/*Responsive timeline*/
@media