body {
    background-color: #F5F5F5;
    margin: 0;
    width: 100%;
    height: 100%;
}
main {
    width: 90%;
    margin: auto;
}
header, footer {
    background-color: #4CC1FA;
}
header{
    display:flex;
    align-items: center;
}
.logo {
    height:100px;
    width: auto;
}
.logo-section, .header-menus {
    display: flex;
    list-style-type: none;
    flex: 1 0 auto;
}
.header-menus a{
    padding: 0 20px 0 20px;
    text-decoration: none;
    color: #000000;
}
.header-menus a:hover, footer li:hover{
    background-color: #8dd9ff;
    border-radius: 9px;
    max-width: 50%;
    cursor: pointer;
}
.header-menus{
    margin-right: 20px;
}
header p {
    font-family: New Spirit, serif;
    font-weight: 400;
    font-style:normal;
    font-variant: small-caps;
    font-size: 27px;
}
.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 9px;
    padding: 10px;
    margin-left: 10px;;
}
.search-bar input {
    margin: 0 5px 0 5px;
    width:100%;
    border: none;
    outline: none;
    background-color: #ffffff;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.homepage_containers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1600px;
    margin:0 auto;
    grid-gap: 10px;
}
.banner-boxes {
    border: solid 1px #000000;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(4, 0.1fr);
}
.banner-boxes p, .banner-boxes h2{
    margin: 10px 0;
}
.banner-boxes img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.explore-banner {
    background-color: #3EFAD3;
}
.exhibition-banner {
    background-color: #8797FA;
}
.get-involved-banner{
    background-color: #FA8B64;
}
.explore-banner, .exhibition-banner, .get-involved-banner{
    max-width: 1600px;
    margin:auto;
    padding-left: 10px;
}
h1 {
    font-family: New Spirit, serif;
    font-weight: 400;
    font-style:normal;
    font-variant: small-caps;
    font-size: 48px;

}
h2{
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}

p{
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
}
h3, header li {
    font-family: mr-eaves-modern, sans-serif;
    font-size: 27px;
    font-variant: small-caps;
}
h4, footer li {
    font-family: mr-eaves-modern, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
}
.footer-menus {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    margin-left: 20px;
    margin-top: 100px;
}
.footer-menus li {
    list-style: none;
}
footer h4{
    margin:auto;
}
.cta {
    background-color: #4CC1FA;
    color: #05032c;
    border-width: 0;
    border-radius: 5px;
    font-family: mr-eaves-modern, sans-serif;
    font-size: 20px;
    font-weight:bold;
    text-transform: uppercase;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    max-height: 25px;
    max-width: 150px;
}
.cta:hover{
    background: #8dd9ff;
}

/* News slider in homepage */
.news-homepage-slide_container {
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    width: 70%;
    height: 0;
    padding-bottom: 45%;
}
.slide-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.slide-image img{
    width: 100%;
    height: 100%;
}
#i1, #i2, #i3{
   display: none;
}
.nav-dots{
    width:100%;
    height: 15px;
    bottom:12%;
    position: absolute;
    text-align: center;
    z-index: 99;
}
.slide-dots{
    top:-5px;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: #6e6e6e;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three{
    z-index: 9;
}
#i1:checked ~ .nav-dots #dot1,
#i2:checked ~ .nav-dots #dot2,
#i3:checked ~ .nav-dots #dot3{
    background: #4CC1FA;
    width: 25px;
    height: 25px;
    transition: 0.5s;
}
.slide-image_text{
    position: relative;
    background-color: #ffffffc7;
    padding: 20px;
    max-width: 40%;
    border-radius: 9px;
    top:-70%;
    left: 50%;
}
.slide-image_text h3{
    font-variant: normal;
}

